## ETL Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_Reviews= pd.read_csv("C:/Users/Aliso/Downloads/archive/Airbnb Data/Reviews.csv")

In [3]:
df_Listings = pd.read_csv("C:/Users/Aliso/Downloads/archive/Airbnb Data/Listings.csv", encoding='latin1', low_memory=False)

In [4]:
df_ReviewsDic= pd.read_csv("C:/Users/Aliso/Downloads/archive/Airbnb Data/Reviews_data_dictionary.csv")

In [5]:
df_ListingsDic= pd.read_csv("C:/Users/Aliso/Downloads/archive/Airbnb Data/Listings_data_dictionary.csv")

## Reviews

In [7]:
df_Reviews.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [8]:
df_Reviews.shape

(5373143, 4)

In [9]:
df_Reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5373143 entries, 0 to 5373142
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   listing_id   int64
 1   review_id    int64
 2   date         object
 3   reviewer_id  int64
dtypes: int64(3), object(1)
memory usage: 164.0+ MB

In [10]:
df_Reviews.isnull().sum()

listing_id     0
review_id      0
date           0
reviewer_id    0
dtype: int64

In [11]:
df_Reviews.describe(include='all')

          listing_id     review_id        date   reviewer_id
count   5.373143e+06  5.373143e+06     5373143  5.373143e+06
unique           NaN           NaN        4103           NaN
top              NaN           NaN  2020-01-02           NaN
freq             NaN           NaN       10136           NaN
mean    1.602989e+07  3.486753e+08         NaN  9.808133e+07
std     1.198676e+07  2.061019e+08         NaN  9.080596e+07
min     2.577000e+03  2.820000e+02         NaN  1.000000e+00
25%     5.332708e+06  1.666435e+08         NaN  2.390206e+07
50%     1.450814e+07  3.425727e+08         NaN  6.697814e+07
75%     2.414496e+07  5.334045e+08         NaN  1.528936e+08
max     4.826387e+07  7.356237e+08         NaN  3.903385e+08

In [13]:
df_Reviews.nunique()

listing_id      193556
review_id      5372983
date              4103
reviewer_id    4450005
dtype: int64

In [14]:
df_Reviews.duplicated().sum()

0

In [15]:
df_Reviews[df_Reviews['review_id']==529009867]

         listing_id  review_id        date  reviewer_id
4194635     4532587  529009867  2019-09-14    257017898
4195203    22219093  529009867  2019-09-14    257017898

In [16]:
df_Reviews.duplicated(subset=['review_id', 'listing_id']).sum()

0

In [17]:
df_Reviews['date'].dtype

dtype('O')

In [18]:
df_Reviews['date']=pd.to_datetime(df_Reviews['date'],errors='coerce')

## Listings

In [20]:
df_Listings.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,12/3/2011,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,11/29/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,7/31/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,12/17/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,12/14/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [21]:
df_Listings.shape

(279712, 33)

In [22]:
df_Listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279537 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  object
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 70.4+ MB

In [23]:
df_Listings.describe(include='all')

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
count,2.797120e+05,279537,2.797120e+05,279547,278872,150930,150930.000000,166625.000000,279547,279547.000000,...,279712.000000,2.797120e+05,188307.000000,187999.000000,188047.000000,187941.000000,188025.000000,187937.000000,187927.000000,279712
unique,NaN,265860,NaN,4240,7159,4,NaN,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,home away from home,NaN,9/2/2019,"Paris, Ile-de-France, France",within an hour,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
freq,NaN,98,NaN,710,47794,83464,NaN,NaN,229294,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164105
mean,2.638196e+07,NaN,1.081658e+08,NaN,NaN,NaN,0.865939,0.827168,NaN,24.581612,...,8.050967,2.755860e+04,93.405195,9.565476,9.312869,9.701534,9.698593,9.633994,9.335364,NaN
std,1.442576e+07,NaN,1.108570e+08,NaN,NaN,NaN,0.283744,0.289202,NaN,284.041143,...,31.518946,7.282875e+06,10.070437,0.990878,1.146072,0.867434,0.886884,0.833234,1.042625,NaN
min,2.577000e+03,NaN,1.822000e+03,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,...,1.000000,1.000000e+00,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,NaN
25%,1.384462e+07,NaN,1.720656e+07,NaN,NaN,NaN,0.900000,0.780000,NaN,1.000000,...,1.000000,4.500000e+01,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN
50%,2.767098e+07,NaN,5.826911e+07,NaN,NaN,NaN,1.000000,0.980000,NaN,1.000000,...,2.000000,1.125000e+03,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN
75%,3.978485e+07,NaN,1.832853e+08,NaN,NaN,NaN,1.000000,1.000000,NaN,4.000000,...,5.000000,1.125000e+03,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN
max,4.834353e+07,NaN,3.901874e+08,NaN,NaN,NaN,1.000000,1.000000,NaN,7235.000000,...,9999.000000,2.147484e+09,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN

In [24]:
df_Listings.isnull().sum().sort_values(ascending=False)

district                       242700
host_response_time             128782
host_response_rate             128782
host_acceptance_rate           113087
review_scores_value             91785
review_scores_location          91775
review_scores_checkin           91771
review_scores_accuracy          91713
review_scores_communication     91687
review_scores_cleanliness       91665
review_scores_rating            91405
bedrooms                        29435
host_location                     840
name                              175
host_identity_verified            165
host_has_profile_pic              165
host_is_superhost                 165
host_since                        165
host_total_listings_count         165
listing_id                          0
minimum_nights                      0
maximum_nights                      0
longitude                           0
price                               0
amenities                           0
accommodates                        0
room_type                           0
property_type                       0
latitude                            0
city                                0
neighbourhood                       0
host_id                             0
instant_bookable                    0
dtype: int64

In [25]:
df_Listings['host_since']=pd.to_datetime(df_Listings['host_since'],errors='coerce')

In [26]:
df_Listings.drop(columns=['district'], inplace=True)

In [28]:
df_Listings['review_scores_rating'].isnull().sum()

91405

In [29]:
review_counts = df_Reviews['listing_id'].value_counts()
df_Listings['has_reviews'] = df_Listings['listing_id'].isin(review_counts.index)

In [30]:
df_Listings[df_Listings['review_scores_rating'].isna()]['has_reviews'].value_counts()

has_reviews
False    86155
True      5250
Name: count, dtype: int64

In [31]:
mean_rating = df_Listings['review_scores_rating'].mean()
mean_rating

93.40519470864068

In [32]:
df_Listings.loc[
    (df_Listings['review_scores_rating'].isna()) & (df_Listings['has_reviews']),
    'review_scores_rating'
] = mean_rating

In [33]:
df_Listings['review_scores_rating'].isnull().sum()

86155

In [34]:
review_counts = df_Reviews['listing_id'].value_counts()
df_Listings['has_reviews'] = df_Listings['listing_id'].isin(review_counts.index)

In [35]:
df_Listings[df_Listings['review_scores_rating'].isna()]['has_reviews'].value_counts()

has_reviews
False    86155
Name: count, dtype: int64

In [36]:
df_Listings['host_is_superhost'].dtype

dtype('O')

In [37]:
df_Listings['host_identity_verified'] = df_Listings['host_identity_verified'].astype(bool)

In [38]:
df_Listings['host_is_superhost'] = df_Listings['host_is_superhost'].astype(bool)

In [39]:
df_Listings['host_has_profile_pic'] = df_Listings['host_has_profile_pic'].astype(bool)

In [40]:
host_catg_cols = ['host_response_time', 'host_location']
df_Listings[host_catg_cols] = df_Listings[host_catg_cols].fillna('Unknown')

In [41]:
host_num_cols = ['host_response_rate', 'host_acceptance_rate']
for col in host_num_cols:
    mean_val = df_Listings[col].mean()
    df_Listings[col] = df_Listings[col].fillna(mean_val)

In [42]:
df_Listings['host_since'] = pd.to_datetime(df_Listings['host_since'], errors='coerce')

In [43]:
df_Listings[df_Listings['bedrooms'].isnull()]['room_type'].value_counts()

room_type
Entire place    24569
Private room     4398
Hotel room        468
Name: count, dtype: int64

In [44]:
df_Listings.groupby('room_type')['bedrooms'].median()

room_type
Entire place    1.0
Hotel room      1.0
Private room    1.0
Shared room     1.0
Name: bedrooms, dtype: float64

In [45]:
df_Listings['bedrooms']=df_Listings.groupby('room_type')['bedrooms'].transform(lambda x: x.fillna(x.median()))

In [46]:
df_Listings['bedrooms'].isnull().sum()

0

In [51]:
cols=[col for col in df_Listings.columns if col.startswith('host_')]
cols

['host_id',
 'host_since',
 'host_location',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified']

In [54]:
host_bool_cols= ['host_is_superhost', 'host_has_profile_pic', 'host_identity_verified']
df_Listings[host_bool_cols]=df_Listings[host_bool_cols].fillna('Unknown')

In [55]:
df_Listings.drop(columns=['name'], inplace=True)

In [58]:
host_count = df_Listings['host_id'].value_counts()
host_count

host_id
291007369    627
175128252    396
7518056      378
97240131     339
371026651    295
            ...
16023084       1
23197732       1
22260507       1
24570082       1
6955618        1
Name: count, Length: 182024, dtype: int64

In [59]:
df_Listings[df_Listings['host_total_listings_count'].isna()]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
52879,5872399,1721954,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,False
52880,6300239,1721954,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,False
52881,6875069,20618245,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,False
52882,7070896,37073350,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,1125,97.0,10.0,10.0,10.0,10.0,9.0,10.0,t,True
52883,7526817,33200781,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229887,36097566,271523825,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
229888,36159429,271964652,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,29,98.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
229889,36173459,272057403,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,29,98.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
229890,36251422,272661142,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,29,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
229891,47963603,305882972,NaT,Unknown,Unknown,0.865939,0.827168,True,NaN,True,...,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,False

In [60]:
df_Listings.loc[df_Listings['host_total_listings_count'] == 0.0]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
36449,47355968,11716309,2014-01-28,"Paris, Ile-de-France, France",within a few hours,0.88,0.33,True,0.0,True,...,1125,100.0,10.0,10.0,10.0,8.0,8.0,8.0,f,True
36458,39029972,273344288,2019-07-03,"Hallandale Beach, Florida, United States",within a day,0.75,0.25,True,0.0,True,...,1125,20.0,6.0,8.0,6.0,8.0,8.0,4.0,f,True
36499,11313271,41821010,2015-08-18,"New York, New York, United States",within an hour,0.67,0.84,True,0.0,True,...,1125,91.0,9.0,9.0,9.0,9.0,9.0,9.0,t,True
36510,35711402,12061757,2014-02-08,"New York, New York, United States",a few days or more,0.00,0.00,True,0.0,True,...,1125,87.0,9.0,9.0,10.0,9.0,9.0,9.0,f,True
36512,36172164,270629822,2019-06-22,"New York, New York, United States",a few days or more,0.00,1.00,True,0.0,True,...,1125,94.0,9.0,9.0,9.0,9.0,9.0,9.0,f,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250139,33128709,249398566,2019-03-17,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,0.0,True,...,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250140,33574716,249398566,2019-03-17,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,0.0,True,...,30,96.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250142,39073630,299024632,2019-09-30,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,0.0,True,...,60,98.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250143,40935774,37466391,2015-07-04,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,0.0,True,...,15,98.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250252,38500893,237396157,2019-01-18,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,0.0,True,...,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True

In [61]:
df_Listings.loc[df_Listings['host_total_listings_count'] == 0.0, 'host_total_listings_count']=np.nan

In [62]:
host_total_listings_missing=df_Listings['host_total_listings_count'].isna()
host_total_listings_missing

0         False
1         False
2         False
3         False
4         False
          ...
279707    False
279708    False
279709    False
279710    False
279711    False
Name: host_total_listings_count, Length: 279712, dtype: bool

In [63]:
df_Listings[df_Listings['host_id']==17004466]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
36445,35045614,17004466,2014-06-19,"Paris, Ile-de-France, France",a few days or more,0.0,0.0,True,2.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,8.0,10.0,t,True

In [64]:
host_count=df_Listings['host_id'].value_counts()
host_count

host_id
291007369    627
175128252    396
7518056      378
97240131     339
371026651    295
            ...
16023084       1
23197732       1
22260507       1
24570082       1
6955618        1
Name: count, Length: 182024, dtype: int64

In [65]:
df_Listings[df_Listings['host_id']==291007369]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
58953,2870058,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,94.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
58954,4859418,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,93.0,9.0,9.0,10.0,10.0,10.0,9.0,t,True
58955,6970375,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,82.0,9.0,8.0,9.0,9.0,8.0,8.0,t,True
58956,12214909,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,92.0,10.0,8.0,10.0,10.0,10.0,9.0,t,True
58957,14411083,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,97.0,10.0,10.0,9.0,10.0,10.0,10.0,t,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84047,38577274,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,False
100991,40521696,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,93.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
101061,45626241,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,8.0,f,True
110752,3497902,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,96.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
232512,4409288,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,45,94.0,10.0,9.0,10.0,10.0,10.0,9.0,t,True

In [66]:
df_Listings[df_Listings['host_total_listings_count'].isna()]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
36449,47355968,11716309,2014-01-28,"Paris, Ile-de-France, France",within a few hours,0.88,0.33,True,NaN,True,...,1125,100.0,10.0,10.0,10.0,8.0,8.0,8.0,f,True
36458,39029972,273344288,2019-07-03,"Hallandale Beach, Florida, United States",within a day,0.75,0.25,True,NaN,True,...,1125,20.0,6.0,8.0,6.0,8.0,8.0,4.0,f,True
36499,11313271,41821010,2015-08-18,"New York, New York, United States",within an hour,0.67,0.84,True,NaN,True,...,1125,91.0,9.0,9.0,9.0,9.0,9.0,9.0,t,True
36510,35711402,12061757,2014-02-08,"New York, New York, United States",a few days or more,0.00,0.00,True,NaN,True,...,1125,87.0,9.0,9.0,10.0,9.0,9.0,9.0,f,True
36512,36172164,270629822,2019-06-22,"New York, New York, United States",a few days or more,0.00,1.00,True,NaN,True,...,1125,94.0,9.0,9.0,9.0,9.0,9.0,9.0,f,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250139,33128709,249398566,2019-03-17,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,NaN,True,...,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250140,33574716,249398566,2019-03-17,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,NaN,True,...,30,96.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250142,39073630,299024632,2019-09-30,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,NaN,True,...,60,98.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250143,40935774,37466391,2015-07-04,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,NaN,True,...,15,98.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
250252,38500893,237396157,2019-01-18,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,NaN,True,...,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True

In [67]:
df_Listings[df_Listings['host_id']==291007369 ]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
58953,2870058,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,94.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
58954,4859418,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,93.0,9.0,9.0,10.0,10.0,10.0,9.0,t,True
58955,6970375,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,82.0,9.0,8.0,9.0,9.0,8.0,8.0,t,True
58956,12214909,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,92.0,10.0,8.0,10.0,10.0,10.0,9.0,t,True
58957,14411083,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,97.0,10.0,10.0,9.0,10.0,10.0,10.0,t,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84047,38577274,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,False
100991,40521696,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,93.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
101061,45626241,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,8.0,f,True
110752,3497902,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,1125,96.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
232512,4409288,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,NaN,True,...,45,94.0,10.0,9.0,10.0,10.0,10.0,9.0,t,True

In [69]:
df_Listings[df_Listings['host_id']==270629822]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
36512,36172164,270629822,2019-06-22,"New York, New York, United States",a few days or more,0.0,1.0,True,NaN,True,...,1125,94.0,9.0,9.0,9.0,9.0,9.0,9.0,f,True

In [70]:
df_Listings.loc[host_total_listings_missing, 'host_total_listings_count'] = df_Listings.loc[host_total_listings_missing, 'host_id'].apply(lambda x: host_count[x] if x in host_count else 0)

In [71]:
df_Listings[df_Listings['host_total_listings_count']>1]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
36436,1473337,7642792,2013-07-22,"Paris, Ile-de-France, France",within a few hours,0.92,0.93,True,186.0,True,...,1125,80.0,8.0,9.0,8.0,8.0,8.0,8.0,f,True
36437,1992443,7642792,2013-07-22,"Paris, Ile-de-France, France",within a few hours,0.92,0.93,True,186.0,True,...,1125,100.0,NaN,10.0,NaN,10.0,NaN,NaN,f,True
36438,17689178,7642792,2013-07-22,"Paris, Ile-de-France, France",within a few hours,0.92,0.93,True,186.0,True,...,1125,100.0,10.0,10.0,NaN,10.0,NaN,NaN,f,True
36439,18406013,13013633,2014-03-11,FR,within an hour,0.96,0.97,True,100.0,True,...,1125,73.0,5.0,9.0,8.0,8.0,8.0,7.0,f,True
36440,19463468,21630783,2014-09-22,"Paris, Ile-de-France, France",within a day,0.87,0.59,True,94.0,True,...,1125,93.0,7.0,7.0,7.0,7.0,7.0,7.0,f,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250260,42032577,5874957,2013-04-11,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,8.0,True,...,60,96.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
250261,42468747,122992528,2017-03-28,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,15.0,True,...,14,99.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
250262,44471830,14542850,2014-04-21,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,5.0,True,...,90,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
250263,45232205,307219845,2019-11-05,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,2.0,True,...,365,98.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
250264,45665053,54471100,2016-01-13,"Rome, Lazio, Italy",within an hour,1.00,1.00,True,6.0,True,...,10,100.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True

In [72]:
df_Listings[df_Listings['host_total_listings_count']==627.0]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
58953,2870058,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,94.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
58954,4859418,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,93.0,9.0,9.0,10.0,10.0,10.0,9.0,t,True
58955,6970375,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,82.0,9.0,8.0,9.0,9.0,8.0,8.0,t,True
58956,12214909,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,92.0,10.0,8.0,10.0,10.0,10.0,9.0,t,True
58957,14411083,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,97.0,10.0,10.0,9.0,10.0,10.0,10.0,t,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84047,38577274,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,False
100991,40521696,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,93.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
101061,45626241,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,8.0,f,True
110752,3497902,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,96.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
232512,4409288,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,45,94.0,10.0,9.0,10.0,10.0,10.0,9.0,t,True

In [73]:
df_Listings[df_Listings['host_id']==291007369]

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
58953,2870058,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,94.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
58954,4859418,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,93.0,9.0,9.0,10.0,10.0,10.0,9.0,t,True
58955,6970375,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,82.0,9.0,8.0,9.0,9.0,8.0,8.0,t,True
58956,12214909,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,92.0,10.0,8.0,10.0,10.0,10.0,9.0,t,True
58957,14411083,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,97.0,10.0,10.0,9.0,10.0,10.0,10.0,t,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84047,38577274,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,False
100991,40521696,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,93.0,9.0,9.0,9.0,10.0,10.0,9.0,t,True
101061,45626241,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,8.0,f,True
110752,3497902,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,1125,96.0,10.0,10.0,10.0,10.0,10.0,10.0,t,True
232512,4409288,291007369,2019-09-02,FR,Unknown,0.865939,0.827168,True,627.0,True,...,45,94.0,10.0,9.0,10.0,10.0,10.0,9.0,t,True

In [74]:
df_Listings

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews
0,281420,1466919,2011-12-03,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
1,3705183,10328771,2013-11-29,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
2,4082273,19252768,2014-07-31,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
3,4797344,10668311,2013-12-17,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
4,4823489,24837558,2014-12-14,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,31161181,2015-04-13,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,7,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
279708,38538692,10294858,2013-11-27,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
279709,38683356,2238502,2012-04-27,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,30,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
279710,39659000,38633695,2015-07-16,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True
279711,40219504,6955618,2013-06-17,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,4,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True

In [75]:
df_Reviews

         listing_id  review_id       date  reviewer_id
0             11798  330265172 2018-09-30     11863072
1             15383  330103585 2018-09-30     39147453
2             16455  329985788 2018-09-30      1125378
3             17919  330016899 2018-09-30    172717984
4             26827  329995638 2018-09-30     17542859
...             ...        ...        ...          ...
5373138    47779342  726766332 2021-01-25    283094516
5373139    47823964  727963021 2021-01-31     76411977
5373140    47896175  728548625 2021-02-02     71370946
5373141    47900451  727399287 2021-01-29    109011160
5373142    47998038  730320626 2021-02-11    276790978

[5373143 rows x 4 columns]

## Data separation and convertion to csv

In [77]:
Reviews=df_Reviews

In [78]:
Reviews.to_csv('Reviews.csv', index=False)

In [81]:
cols=[col for col in df_Listings.columns if col.startswith('host_')]
cols

['host_id',
 'host_since',
 'host_location',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_identity_verified']

In [84]:
Host_information=df_Listings[['host_id','host_since','host_location','host_response_time','host_response_rate','host_acceptance_rate',
                              'host_is_superhost','host_total_listings_count','host_has_profile_pic', 'host_identity_verified']]

In [126]:
Host_information.nunique()

host_id                      182024
host_since                     4240
host_location                  7160
host_response_time                5
host_response_rate               92
host_acceptance_rate            102
host_is_superhost                 1
host_total_listings_count       207
host_has_profile_pic              1
host_identity_verified            1
dtype: int64

In [133]:
Host_information['host_id'].duplicated().sum()

97688

In [135]:
Host_information = Host_information.drop_duplicates(subset='host_id')

In [136]:
Host_information['host_id'].duplicated().sum()

0

In [137]:
Host_information.to_csv('Host_information.csv', index=False)

In [138]:
cols=[col for col in df_Listings.columns if col.startswith('review_scores')]
cols

['review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value']

In [139]:
Listings_review_scores=df_Listings[['listing_id','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin',
                                    'review_scores_communication','review_scores_location','review_scores_value']]

In [152]:
Listings_review_scores['listing_id'].duplicated().sum()

0

In [154]:
Listings_review_scores.to_csv('Listings_review_scores.csv', index=False)

In [158]:
location_columns = ['neighbourhood','city','latitude','longitude']

In [160]:
unique_locations = df_Listings[location_columns].drop_duplicates().reset_index(drop=True)

In [162]:
unique_locations['location_id'] = unique_locations.index + 1

In [164]:
unique_locations

            neighbourhood   city  latitude  longitude  location_id
0       Buttes-Montmartre  Paris  48.88668    2.33343            1
1       Buttes-Montmartre  Paris  48.88617    2.34515            2
2                  Elysee  Paris  48.88112    2.31712            3
3               Vaugirard  Paris  48.84571    2.30584            4
4                   Passy  Paris  48.85500    2.26979            5
...                   ...    ...       ...        ...          ...
272175       Observatoire  Paris  48.82701    2.31419       272176
272176  Buttes-Montmartre  Paris  48.89309    2.33206       272177
272177  Buttes-Montmartre  Paris  48.88699    2.34920       272178
272178         Popincourt  Paris  48.86687    2.38123       272179
272179  Enclos-St-Laurent  Paris  48.87217    2.36320       272180

[272180 rows x 5 columns]

In [170]:
df_Listings = df_Listings.merge(unique_locations, on=location_columns, how='left')

In [172]:
df_Listings

,listing_id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,has_reviews,location_id
0,281420,1466919,2011-12-03,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,1
1,3705183,10328771,2013-11-29,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,2
2,4082273,19252768,2014-07-31,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,3
3,4797344,10668311,2013-12-17,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,4
4,4823489,24837558,2014-12-14,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279707,38338635,31161181,2015-04-13,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,272176
279708,38538692,10294858,2013-11-27,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,272177
279709,38683356,2238502,2012-04-27,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,272178
279710,39659000,38633695,2015-07-16,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,272179
279711,40219504,6955618,2013-06-17,"Paris, Ile-de-France, France",Unknown,0.865939,0.827168,True,1.0,True,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,True,272180

In [192]:
Listings_location=unique_locations[['location_id','neighbourhood','city','latitude','longitude']]

In [194]:
Listings_location.to_csv('Listings_location.csv', index=False)

In [196]:
Listings=df_Listings[['listing_id','host_id','location_id','property_type','room_type','bedrooms','accommodates',
                      'amenities','price','minimum_nights','maximum_nights','instant_bookable']]

In [200]:
Listings.to_csv('Listings.csv', index=False)

## Data convertion to SQL tables

In [203]:
import sqlite3

In [209]:
connect = sqlite3.connect('AirBnb Normalized Data.db')

In [211]:
Host_information.to_sql('Host_information', connect, if_exists='append', index=False)

182024

In [213]:
Listings_location.to_sql('Listings_location',connect,if_exists='append',index=False)

272180

In [215]:
Listings.to_sql('Listings',connect, if_exists='append', index=False)

279712

In [217]:
Reviews.to_sql('Reviews', connect, if_exists='append', index=False)

5373143

In [218]:
Listings_review_scores.to_sql('Listings_review_scores', connect, if_exists='append', index=False)

279712

In [219]:
connect.commit()
connect.close()